[Unit]
Description=My Restart Service

[Service]
ExecStart=/bin/bash -c 'sleep infinity'
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
